@charset "ISO-8859-1";
thead {
	background-color: teal;
}
tbody tr{
	color: black;
}

label{
	color: white;	
}
#DataTables_Table_0_info{
	color: white;
}

#dialog {
	padding: auto;
	text-decoration: none;
	position: relative;
}

#dialog span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

#icons {
	margin: 0;
	padding: 0;
}

#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}

select {
	width: 200px;
}
